Connected Services/SinglePackReference/I2_ManualSinglePack.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:types.nmvs.eu:v4.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v4.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="NMVS_Composite_Types.xsd" />
  <element name="I2_ManualSinglePack" type="tns:I2_ManualSinglePack_Type" />
  <complexType name="I2_ManualSinglePack_Type">
    <complexContent mixed="false">
      <extension base="tns:Header_Type">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Body" type="tns:ManualRequestData_Type" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>