Connected Services/SinglePackReference/I3_UndoSinglePack.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="urn:types.nmvs.eu:v4.0" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v4.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="NMVS_Composite_Types.xsd" />
  <element name="I3_UndoSinglePack" type="tns:I3_UndoSinglePack_Type" />
  <complexType name="I3_UndoSinglePack_Type">
    <complexContent mixed="false">
      <extension base="tns:Header_Type">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Body" type="tns:RequestUndoSingleData_Type" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RequestUndoSingleData_Type">
    <complexContent mixed="false">
      <extension base="tns:RequestData_Type">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="RefClientTrxId" type="tns:ExternalTransactionID_Type">
            <annotation>
              <documentation>Transaction-Id of calling system</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>