Connected Services/SinglePackReference/NMVS_Base_Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:types.nmvs.eu:v4.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="NMVSTransactionId_Type">
    <annotation>
      <documentation>
                Unique identifier of the transaction from the NMVS System.
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9"
                Set of allowed special characters "-"
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="32" />
      <maxLength value="32" />
      <pattern value="([A-Z]*[a-z]*\d*-*)+" />
    </restriction>
  </simpleType>
  <simpleType name="ClientLoginId_Type">
    <annotation>
      <documentation>
                Identification of a client.A client unites a group
                of users (e.g. pharmacies, wholesalers, hospitals etc.).
                In case of a centralized access scenario
                (e.g. all hospitals are connected via an aggregator - i.e. a central server),
                a client may have only one user, i.e. the central server itself.
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9" and "-".
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="32" />
      <pattern value="([A-Z]*[a-z]*\d*-*)+" />
    </restriction>
  </simpleType>
  <simpleType name="UserId_Type">
    <annotation>
      <documentation>
                Identification of an individual user (i.e. a member of the client).
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9"
                Set of allowed special characters "-"
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="20" />
      <pattern value="([A-Z]*[a-z]*\d*-*)+" />
    </restriction>
  </simpleType>
  <simpleType name="Password_Type">
    <annotation>
      <documentation>
                Password to authenticate a user.
                Set of allowed characters: "a" to "z", "A" to "Z", "0" to "9" and special characters.
                8 to 60 character are allowed, at least one lower case letter, one capital letter, one digit and one special character.
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="8" />
      <maxLength value="60" />
    </restriction>
  </simpleType>
  <simpleType name="Period">
    <annotation>
      <documentation>Anzahl einer Zeitspanne in TC z.B. in Tagen
            </documentation>
    </annotation>
    <restriction base="decimal">
      <minInclusive value="1" />
      <maxExclusive value="999" />
    </restriction>
  </simpleType>
  <simpleType name="Mode">
    <annotation>
      <documentation>Einstellen eines Modus
            </documentation>
    </annotation>
    <restriction base="decimal">
      <minInclusive value="1" />
      <maxExclusive value="9" />
    </restriction>
  </simpleType>
  <simpleType name="ExternalTransactionID_Type">
    <annotation>
      <documentation>
                Unique identifier of the transaction from the Client system.
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9"
                Set of allowed special characters "-"
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="8" />
      <maxLength value="32" />
      <pattern value="([A-Z]*[a-z]*\d*-*)+" />
    </restriction>
  </simpleType>
  <simpleType name="ProductCode_Type">
    <annotation>
      <documentation>
                Product code in GTIN- or PPN scheme. The details to the two types
                are in "Data Type" in the next two rows.
                Set of allowed characters "a" to "z", "A" to "Z", "0" to "9".
            </documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[a-zA-Z0-9]{1,22}" />
    </restriction>
  </simpleType>
  <simpleType name="SN_Type">
    <annotation>
      <documentation>
                Identifies a single pack together with the product id.
                Remark: Different packs may have the same serial number if their
                product ids are different. Packs with a common product identifier
                must have different serial numbers even if they have different batch ids.
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9"
                Set of allowed special characters !"%&amp;'()*+,-./:;&lt;=&gt;?_,
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="20" />
      <pattern value="[!&quot;%&amp;'()*+,-./:;&lt;=&gt;?_a-zA-Z0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="ReturnCodeDescription_Type">
    <annotation>
      <documentation>
                Textual description of the return code, e.g. Successful dispense or
                Combination Client/user/password invalid.
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="Timestamp_Type">
    <restriction base="dateTime" />
  </simpleType>
  <simpleType name="Date_Type">
    <restriction base="date" />
  </simpleType>
  <simpleType name="S255_Normalized_Type">
    <annotation>
      <documentation>String Type - 255 Chars
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="S100_Normalized_Type">
    <annotation>
      <documentation>String Type - 255 Chars
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="S50_Normalized_Type">
    <annotation>
      <documentation>String Type - 50 Chars
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="S35_Normalized_Type">
    <annotation>
      <documentation>String Type - 35 Chars
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="S10_Normalized_Type">
    <annotation>
      <documentation>String Type - 10 Chars
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="NHRN_Type">
    <annotation>
      <documentation>
                National healthcare reimbursement number,
                optional use in the pharmacy/wholesaler system.
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="BATCH_Type">
    <annotation>
      <documentation>
                Id of the batch to which this pack belongs.
                Set of allowed characters "A" to "Z", "a" to "z", "0" to "9"
                Set of allowed special characters !"%&amp;'()*+,-./:;&lt;=&gt;?_
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="20" />
      <pattern value="[!&quot;%&amp;'()*+,-./:;&lt;=&gt;?_a-zA-Z0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="EXP_Type">
    <annotation>
      <documentation>
                Expiry date, equal for all packs belonging to the same batch.
                Format YYMMDD where DD can also be a value of "00"
            </documentation>
    </annotation>
    <restriction base="token">
      <pattern value="([0-9]{2})((0[1-9])|(1[0-2]))((0[0-9])|([1-2][0-9])|(3[0-1]))" />
    </restriction>
  </simpleType>
  <simpleType name="IsoLanguageCode_Type">
    <annotation>
      <documentation>
                language code, ISO-639-3 compliant.Standard fallback language is english (eng).
                Supported languages include eng, deu. Further languages may be supported after
                consultation with the respective NMVO.
            </documentation>
    </annotation>
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="NotificationDescription_Type">
    <annotation>
      <documentation>
                Textual description of the notification.
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="1000" />
    </restriction>
  </simpleType>
  <simpleType name="AlertId_Type">
    <annotation>
      <documentation>
                Unique alert id
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Pagenumber_Type">
    <annotation>
      <documentation>
                Requested pagenumber
            </documentation>
    </annotation>
    <restriction base="integer" />
  </simpleType>
  <simpleType name="TotalPages_Type">
    <annotation>
      <documentation>
                Amount of all found pages
            </documentation>
    </annotation>
    <restriction base="integer" />
  </simpleType>
  <simpleType name="TotalProducts">
    <annotation>
      <documentation>
                Amount of all found products
            </documentation>
    </annotation>
    <restriction base="integer" />
  </simpleType>
</schema>