Connected Services/SinglePackReference/SinglePackServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns="urn:services.nmvs.eu:v4.0" xmlns:env="urn:wsdltypes.nmvs.eu:v4.0" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="SinglePackServices" targetNamespace="urn:services.nmvs.eu:v4.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:types="urn:types.nmvs.eu:v4.0" targetNamespace="urn:wsdltypes.nmvs.eu:v4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I1_SinglePack.xsd" namespace="urn:types.nmvs.eu:v4.0" />
      <xs:import schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I2_ManualSinglePack.xsd" namespace="urn:types.nmvs.eu:v4.0" />
      <xs:import schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I3_UndoSinglePack.xsd" namespace="urn:types.nmvs.eu:v4.0" />
      <xs:import schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/I13_UndoManualSinglePack.xsd" namespace="urn:types.nmvs.eu:v4.0" />
      <xs:import schemaLocation="../../xsd/de/arvato/systems/nmvs/interfaces/ap/v4/types/O1_SinglePack.xsd" namespace="urn:types.nmvs.eu:v4.0" />
      <xs:element name="SinglePackPingRequest">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:PingRequest" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="SinglePackPingResponse">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:PingResponse" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G110Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G112Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G110Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G112Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G120Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G120Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G121Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I3_UndoSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G121Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G122Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G123Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I13_UndoManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G122Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G123Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G130Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G130Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G132Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G132Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G140Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G140Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G141Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I3_UndoSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G141Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G142Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G142Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G143Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I13_UndoManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G143Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G150Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G150Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G151Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I3_UndoSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G151Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G152Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G152Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G153Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I13_UndoManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G153Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G160Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G160Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G161Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I3_UndoSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G161Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G170Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G170Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G171Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I3_UndoSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G171Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G172Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G172Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G173Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I13_UndoManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G173Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G180Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G180Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G182Request">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:I2_ManualSinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="G182Response">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="types:O1_SinglePack_Type" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PingRequestMessage">
    <wsdl:part name="messageParameters" element="env:SinglePackPingRequest" />
  </wsdl:message>
  <wsdl:message name="PingResponseMessage">
    <wsdl:part name="messageParameters" element="env:SinglePackPingResponse" />
  </wsdl:message>
  <wsdl:message name="G110RequestMessage">
    <wsdl:part name="messageParameters" element="env:G110Request" />
  </wsdl:message>
  <wsdl:message name="G110ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G110Response" />
  </wsdl:message>
  <wsdl:message name="G112RequestMessage">
    <wsdl:part name="messageParameters" element="env:G112Request" />
  </wsdl:message>
  <wsdl:message name="G112ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G112Response" />
  </wsdl:message>
  <wsdl:message name="G120RequestMessage">
    <wsdl:part name="messageParameters" element="env:G120Request" />
  </wsdl:message>
  <wsdl:message name="G120ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G120Response" />
  </wsdl:message>
  <wsdl:message name="G121RequestMessage">
    <wsdl:part name="messageParameters" element="env:G121Request" />
  </wsdl:message>
  <wsdl:message name="G121ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G121Response" />
  </wsdl:message>
  <wsdl:message name="G122RequestMessage">
    <wsdl:part name="messageParameters" element="env:G122Request" />
  </wsdl:message>
  <wsdl:message name="G122ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G122Response" />
  </wsdl:message>
  <wsdl:message name="G123RequestMessage">
    <wsdl:part name="messageParameters" element="env:G123Request" />
  </wsdl:message>
  <wsdl:message name="G123ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G123Response" />
  </wsdl:message>
  <wsdl:message name="G130RequestMessage">
    <wsdl:part name="messageParameters" element="env:G130Request" />
  </wsdl:message>
  <wsdl:message name="G130ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G130Response" />
  </wsdl:message>
  <wsdl:message name="G132RequestMessage">
    <wsdl:part name="messageParameters" element="env:G132Request" />
  </wsdl:message>
  <wsdl:message name="G132ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G132Response" />
  </wsdl:message>
  <wsdl:message name="G140RequestMessage">
    <wsdl:part name="messageParameters" element="env:G140Request" />
  </wsdl:message>
  <wsdl:message name="G140ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G140Response" />
  </wsdl:message>
  <wsdl:message name="G141RequestMessage">
    <wsdl:part name="messageParameters" element="env:G141Request" />
  </wsdl:message>
  <wsdl:message name="G141ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G141Response" />
  </wsdl:message>
  <wsdl:message name="G142RequestMessage">
    <wsdl:part name="messageParameters" element="env:G142Request" />
  </wsdl:message>
  <wsdl:message name="G142ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G142Response" />
  </wsdl:message>
  <wsdl:message name="G143RequestMessage">
    <wsdl:part name="messageParameters" element="env:G143Request" />
  </wsdl:message>
  <wsdl:message name="G143ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G143Response" />
  </wsdl:message>
  <wsdl:message name="G150RequestMessage">
    <wsdl:part name="messageParameters" element="env:G150Request" />
  </wsdl:message>
  <wsdl:message name="G150ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G150Response" />
  </wsdl:message>
  <wsdl:message name="G151RequestMessage">
    <wsdl:part name="messageParameters" element="env:G151Request" />
  </wsdl:message>
  <wsdl:message name="G151ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G151Response" />
  </wsdl:message>
  <wsdl:message name="G152RequestMessage">
    <wsdl:part name="messageParameters" element="env:G152Request" />
  </wsdl:message>
  <wsdl:message name="G152ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G152Response" />
  </wsdl:message>
  <wsdl:message name="G153RequestMessage">
    <wsdl:part name="messageParameters" element="env:G153Request" />
  </wsdl:message>
  <wsdl:message name="G153ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G153Response" />
  </wsdl:message>
  <wsdl:message name="G160RequestMessage">
    <wsdl:part name="messageParameters" element="env:G160Request" />
  </wsdl:message>
  <wsdl:message name="G160ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G160Response" />
  </wsdl:message>
  <wsdl:message name="G161RequestMessage">
    <wsdl:part name="messageParameters" element="env:G161Request" />
  </wsdl:message>
  <wsdl:message name="G161ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G161Response" />
  </wsdl:message>
  <wsdl:message name="G170RequestMessage">
    <wsdl:part name="messageParameters" element="env:G170Request" />
  </wsdl:message>
  <wsdl:message name="G170ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G170Response" />
  </wsdl:message>
  <wsdl:message name="G171RequestMessage">
    <wsdl:part name="messageParameters" element="env:G171Request" />
  </wsdl:message>
  <wsdl:message name="G171ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G171Response" />
  </wsdl:message>
  <wsdl:message name="G172RequestMessage">
    <wsdl:part name="messageParameters" element="env:G172Request" />
  </wsdl:message>
  <wsdl:message name="G172ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G172Response" />
  </wsdl:message>
  <wsdl:message name="G173RequestMessage">
    <wsdl:part name="messageParameters" element="env:G173Request" />
  </wsdl:message>
  <wsdl:message name="G173ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G173Response" />
  </wsdl:message>
  <wsdl:message name="G180RequestMessage">
    <wsdl:part name="messageParameters" element="env:G180Request" />
  </wsdl:message>
  <wsdl:message name="G180ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G180Response" />
  </wsdl:message>
  <wsdl:message name="G182RequestMessage">
    <wsdl:part name="messageParameters" element="env:G182Request" />
  </wsdl:message>
  <wsdl:message name="G182ResponseMessage">
    <wsdl:part name="messageParameters" element="env:G182Response" />
  </wsdl:message>
  <wsdl:portType name="ISinglePackServices">
    <wsdl:operation name="PingSinglePack">
      <wsdl:input wsaw:Action="ns:PingRequestMessage" message="ns:PingRequestMessage" />
      <wsdl:output wsaw:Action="ns:PingResponseMessage" message="ns:PingResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G110Verify">
      <wsdl:input wsaw:Action="ns:G110RequestMessage" message="ns:G110RequestMessage" />
      <wsdl:output wsaw:Action="ns:G110ResponseMessage" message="ns:G110ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G112ManualVerify">
      <wsdl:input wsaw:Action="ns:G112RequestMessage" message="ns:G112RequestMessage" />
      <wsdl:output wsaw:Action="ns:G112ResponseMessage" message="ns:G112ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G120Dispense">
      <wsdl:input wsaw:Action="ns:G120RequestMessage" message="ns:G120RequestMessage" />
      <wsdl:output wsaw:Action="ns:G120ResponseMessage" message="ns:G120ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G121UndoDispense">
      <wsdl:input wsaw:Action="ns:G121RequestMessage" message="ns:G121RequestMessage" />
      <wsdl:output wsaw:Action="ns:G121ResponseMessage" message="ns:G121ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G122DispenseManualEntry">
      <wsdl:input wsaw:Action="ns:G122RequestMessage" message="ns:G122RequestMessage" />
      <wsdl:output wsaw:Action="ns:G122ResponseMessage" message="ns:G122ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G123UndoDispenseManualEntry">
      <wsdl:input wsaw:Action="ns:G123RequestMessage" message="ns:G123RequestMessage" />
      <wsdl:output wsaw:Action="ns:G123ResponseMessage" message="ns:G123ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G130Destroy">
      <wsdl:input wsaw:Action="ns:G130RequestMessage" message="ns:G130RequestMessage" />
      <wsdl:output wsaw:Action="ns:G130ResponseMessage" message="ns:G130ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G140Export">
      <wsdl:input wsaw:Action="ns:G140RequestMessage" message="ns:G140RequestMessage" />
      <wsdl:output wsaw:Action="ns:G140ResponseMessage" message="ns:G140ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G141UndoExport">
      <wsdl:input wsaw:Action="ns:G141RequestMessage" message="ns:G141RequestMessage" />
      <wsdl:output wsaw:Action="ns:G141ResponseMessage" message="ns:G141ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G150Sample">
      <wsdl:input wsaw:Action="ns:G150RequestMessage" message="ns:G150RequestMessage" />
      <wsdl:output wsaw:Action="ns:G150ResponseMessage" message="ns:G150ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G151UndoSample">
      <wsdl:input wsaw:Action="ns:G151RequestMessage" message="ns:G151RequestMessage" />
      <wsdl:output wsaw:Action="ns:G151ResponseMessage" message="ns:G151ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G160FreeSample">
      <wsdl:input wsaw:Action="ns:G160RequestMessage" message="ns:G160RequestMessage" />
      <wsdl:output wsaw:Action="ns:G160ResponseMessage" message="ns:G160ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G161UndoFreeSample">
      <wsdl:input wsaw:Action="ns:G161RequestMessage" message="ns:G161RequestMessage" />
      <wsdl:output wsaw:Action="ns:G161ResponseMessage" message="ns:G161ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G170Lock">
      <wsdl:input wsaw:Action="ns:G170RequestMessage" message="ns:G170RequestMessage" />
      <wsdl:output wsaw:Action="ns:G170ResponseMessage" message="ns:G170ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G171UndoLock">
      <wsdl:input wsaw:Action="ns:G171RequestMessage" message="ns:G171RequestMessage" />
      <wsdl:output wsaw:Action="ns:G171ResponseMessage" message="ns:G171ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G180Stolen">
      <wsdl:input wsaw:Action="ns:G180RequestMessage" message="ns:G180RequestMessage" />
      <wsdl:output wsaw:Action="ns:G180ResponseMessage" message="ns:G180ResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="G182StolenManualEntry">
      <wsdl:input wsaw:Action="ns:G182RequestMessage" message="ns:G182RequestMessage" />
      <wsdl:output wsaw:Action="ns:G182ResponseMessage" message="ns:G182ResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISinglePackServices" type="ns:ISinglePackServices">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PingSinglePack">
      <soap12:operation soapAction="urn:PingSinglePack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G110Verify">
      <soap12:operation soapAction="urn:G110Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G112ManualVerify">
      <soap12:operation soapAction="urn:G112Verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G120Dispense">
      <soap12:operation soapAction="urn:G120Dispense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G121UndoDispense">
      <soap12:operation soapAction="urn:G121UndoDispense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G122DispenseManualEntry">
      <soap12:operation soapAction="urn:G122DispenseManualEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G123UndoDispenseManualEntry">
      <soap12:operation soapAction="urn:G123UndoDispenseManualEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G130Destroy">
      <soap12:operation soapAction="urn:G130Destroy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G140Export">
      <soap12:operation soapAction="urn:G140Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G141UndoExport">
      <soap12:operation soapAction="urn:G141UndoExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G150Sample">
      <soap12:operation soapAction="urn:G150Sample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G151UndoSample">
      <soap12:operation soapAction="urn:G151UndoSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G160FreeSample">
      <soap12:operation soapAction="urn:G160FreeSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G161UndoFreeSample">
      <soap12:operation soapAction="urn:G161UndoFreeSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G170Lock">
      <soap12:operation soapAction="urn:G170Lock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G171UndoLock">
      <soap12:operation soapAction="urn:G171UndoLock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G180Stolen">
      <soap12:operation soapAction="urn:G180Stolen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="G182StolenManualEntry">
      <soap12:operation soapAction="urn:G182StolenManualEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SinglePackServices">
    <wsdl:port name="Port_SinglePackServices" binding="ns:WSHttpBinding_ISinglePackServices">
      <soap12:address location="http://localhost:8080/WS_SINGLE_TRANSACTIONS_V1/SinglePackServiceV40" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>